body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

.jumbotron {
    margin-bottom: 0;
    background-image: url('../img/mobile-phone-1419275_1920.jpg');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em .5em;
}

.navbar {
    background: #4A5678 !important;
}

.nav-link {
    color: #FFF !important;
}

#register {
    margin: 50px 0;
}

/* Cart Page */
.cart-items table td{
    color: #666;
    font-size: 15px;
}

.cart-items table td a {
    font-size: 13px;
    color: #555;
}

.btn-link-dark {
    font-size: 13px;
    color: #555;
}

.cart-items .table > tbody > tr > td {
    vertical-align: middle;
}

/* Checkout  */

.your-order-table td {
    font-size: 14px;
    color: #666;
    vertical-align: middle;
}

/* Stripe */
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #DDD;
}

.StripeElement--focus {
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

